header {
	width:100%;
	height: 200px;
	background-image: url(../img/cds.jpg);
	background-repeat: no-repeat;
	font-size: 20px;
	margin-top: 1em;
}

input.fieldError {
    border-color:red !important;
    box-shadow:0 0 10px red !important;
}

img.thumbnail {
    margin: 0 auto 0 auto;
	width: 160px;
	display: block;
}

.orderdialog {
	float: right;
	position: relative;
	right: 5px;
	max-width: 300px;
	min-width: 120px;
	display: block;
	border-radius: 4px;
	border: 1px #ddd solid;
	background-color: #fff;
	padding: 20px;
	height: 200px;
}

.comment .content .user {
  font-weight: 600;
}